/*
* @Author: Tinphic
* @Date:   2018-09-06 16:53:29
* @Last Modified by:   Tinphic
* @Last Modified time: 2018-09-06 18:15:47
*/
$color-blue: #2b8ff7; //主色
$color-white: #fff;
$color-grey: #d9d9d9; //灰色


$color-font-normal: #646567; //字体常规色
$color-font-minor: #86878a; //字体次要色
$color-font-grey: #c5c5c5; //字体占位色

$color-bg-noraml: #2b8ff7; //控件背景常规色
$color-bg-hover: #60a3e8; //控件背景hover色
$color-bg-focus: #146fce; //控件背景常规色
$color-bg-disabled: #a0a6b1; //控件背景常规色